*.tmp
*.temp
*.log
*.cache
*.swp
*.swo
*~
.DS_Store
Thumbs.db

/dist
/build
/out
/bin
/obj
/target
/.next
/nuget
/Release
/Debug
/publish

.vs/
*.user
*.suo
*.sln.docstates

.vscode/
*.code-workspace

.idea/
*.iml
*.iws
.idea_modules/
out/

*.sublime-project
*.sublime-workspace

*.swp
*.swo
*.un~
Session.vim


.classpath
.project
.settings/
.metadata/
*.prefs